<h1>Aide</h1>

<h2>Liste des sujets traités :</h2>
<ul>
    <li><a href="javascript:document.getElementById('aide1').scrollIntoView()">Objectifs de cette application</a></li>
    <li><a href="javascript:document.getElementById('aide2').scrollIntoView()">Fonctionnaliés disponibles</a></li>
    <li><a href="javascript:document.getElementById('aide3').scrollIntoView()">En cas d'erreur dans les données</a></li>
</ul>

<hr />
<h2>Objectifs de cette application</h2>
<a id="aide1"></a>
<span>TODO</span>

<hr />
<h2>Fonctionnaliés disponibles</h2>
<a id="aide2"></a>
<span>TODO</span>

<hr />
<h2>En cas d'erreur dans les données</h2>
<a id="aide3"></a>
<span>TODO</span>