<h1>Aide</h1>

<h2>Liste des sujets traités :</h2>
<ul>
    <li>
        <a href="javascript:document.getElementById('aide1').scrollIntoView()">Objectifs de cette application</a>
    </li>
    <li>
        <a href="javascript:document.getElementById('aide2').scrollIntoView()">Fonctionnaliés disponibles</a>
    </li>
    <li>
        <a href="javascript:document.getElementById('aide3').scrollIntoView()">En cas d'erreur dans les données</a>
    </li>
</ul>

<hr />
<h2>Objectifs de cette application</h2>
<a id="aide1"></a>
<span>Cette application est une version simplifiée et légèrement modifiée de l'application de gestion d'une classe. Elle ne comprend
    qu'un seul onglet en plus de l'aide qui permet de rechercher une compétence par son nom ou le cycle auquel elle appartient.</span>

<hr />
<h2>Fonctionnaliés disponibles</h2>
<a id="aide2"></a>
<span>
    Les données disponibles sont issues du document officel du "socle commun" valable pour l'année scolaire 2017-2018.
    <ul>
        <li>En cochant / décochant un cycle, les compétences liées sont chargées / déchargées.</li>
        <li>Le filtre permet de rechercher les compétences contenant ce mot exacte (attention aux accents, cédille, ...)</li>
        <li>La sélection d'une compétence permet d'afficher l'arborescence complète de la compétence.</li>
    </ul>
</span>

<hr />
<h2>En cas d'erreur dans les données</h2>
<a id="aide3"></a>
<span>Si vous détectez une erreur dans les données de l'application, n'hésitez pas à me la notifier en envoyant un mail à l'adresse
    <em>talbotgui@gmail.com</em>. D'avance, merci.</span>