span.level1 { background-color: #442299; color: white; padding: 5px; border-radius: 25px; }
span.level2 { background-color: #4444dd; color: white; padding: 5px; border-radius: 25px; }
span.level3 { background-color: #22ccaa; color: black; padding: 5px; border-radius: 25px; }
span.level4 { background-color: #aacc22; color: black; padding: 5px; border-radius: 25px; }
span.level5 { background-color: #ff9933; color: black; padding: 5px; border-radius: 25px; }
span.level6 { background-color: #f80c12; color: white; padding: 5px; border-radius: 25px; }
span.level7 { background-color: #ff0000; color: white; padding: 5px; border-radius: 25px; }
span.level8 { background-color: #F511BC; color: white; padding: 5px; border-radius: 25px; }
span.level9 { background-color: #D118EE; color: white; padding: 5px; border-radius: 25px; }