<div id="page" class="container-fluid">
	<div id="entete" class="row">
		<div id="entete-logo" class="col-2">
			<img src="./assets/images/logo.png" alt="logo" (click)="rechargerPage()" />
		</div>
		<div id="entete-titre" class="col-7">
			<span class="d-none d-sm-block">Programme scolaire 2017 - 2018</span>
		</div>
	</div>

	<div id="menu">
		<nav md-tab-nav-bar>
			<a md-tab-link routerLink="/tab-competence-route" class="navCompetence" routerLinkActive="active">Compétences</a>
			<a md-tab-link routerLink="/tab-aide-route" class="navAide" routerLinkActive="active">Aide</a>
		</nav>
	</div>

	<div id="contenu">
		<router-outlet></router-outlet>
	</div>
</div>