#entete { margin: 0px; background-image:url('../assets/images/entete-fond.png'); }
#entete-logo { cursor: pointer; }
#entete-titre { text-align: center; color: white; font-size: 25px; }
#entete-actions { text-align: right; }
#entete-actions .fa { font-size: 1.5em; }
#contenu { margin-top:15px; }

nav a { padding: 15px 40px; text-decoration: none; margin-top: 10px; display: inline-block; background-color: #eee; border-radius: 4px; font-size: 16px; }
nav a:visited, a:link { color: #607D8B; }
nav a:hover { color: #039be5; background-color: #CFD8DC; }
nav a.active { color: white; background-color: #6b6159; font-weight: bold; }
